{% extends "base_error.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        403 Forbidden
                    </h2>
                    <div class="error-details">
                        You cannot access page you've requested!
                    </div>
                    <div class="error-actions">
                        <a href="{{ url_for('posts') }}" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Take Me Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}