{% extends "bootstrap/base.html" %}\
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Find post
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

<h1> Find posts by tag! </h1>


    <form class="form-post" method="POST" action="/findposts">
        <h2 class="form-post-heading">Write a tag</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.tag) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Find</button>

    </form>

      {% if posts %}

        {% for post in posts %}

          <h3> {{ post.username }} </h3>
          <h4> {{ post.header }} </h4>
          <p> {{ post.body }} </p>

        {% endfor %}

      {% endif %}

</div> <!-- /container -->
{% endblock %}