{% extends "base.html" %}

{% block title %}
My posts
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

<h1> {{username}}'s  posts:</h1>

	{{ pagination.info }}
	{{ pagination.links }}
	{% for post in posts %}
		
		<div class="well">
			<div class="media">
				<div class="media-body">
					<a class="nav-link" href={{ url_for("post", post_id=post.id) }}>
						<h4 class="media-heading">
							{{ post.header }}
						</h4>
					</a>
					<a class="nav-link" href={{ url_for("profile", user_id=post.user_id) }}>
						<p class="text-right">Posted by {{ post.username }}</p>
					</a>
					<p>{{ post.body }}</p>
				 	<ul class="list-inline list-unstyled">
						<li><span><i class="glyphicon glyphicon-calendar"></i> Posted on {{ format_datetime(post.date_created) }} </span></li>
						<li>|</li>
						<span><i class="glyphicon glyphicon-comment"></i> {{ post.number_of_comments }} comments</span>
						<li>|</li>
						<span><i class="glyphicon glyphicon-heart"></i> {{ post.number_of_likes }} likes</span>
						<li>|</li>
					</ul>
					<form class="form-delete-post" method="POST" action={{ url_for("delete_post", post_id=post.id) }}>
						<button class="btn btn-danger" type="submit">Delete post</button>
					</form>					
			   </div>
			</div>
		  </div>

	{% endfor %}
	{{ pagination.links }}

</div> <!-- /container -->
{% endblock %}
