{% extends "base.html" %}

{% block title %}
My posts
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

<h1> {{username}}'s  posts:</h1>

	{% for post in posts %}
		<a class="nav-link" href={{ url_for("post", post_id=post.id) }}><h3>{{ post.header }}</h3></a>
		<p> {{ post.body }} </p>
		<form class="form-delete-post" method="POST" action={{ url_for("delete_post", post_id=post.id) }}>
			<button class="btn btn-danger glyphicon glyphicon-remove" type="submit"></button>
		</form>
		<h5> Likes: {{ post.number_of_likes }} </h5>
		<h5> Comments: {{ post.number_of_comments }} </h5>
	{% endfor %}

</div> <!-- /container -->
{% endblock %}


