{% extends "base.html" %}

{% block title %}
Post
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

<h1> Post:</h1>

	<a class="nav-link" href={{ url_for("profile", user_id=post.user_id) }}><h3>{{ post.username }}</h3></a>
	<h4> {{ post.header }} </h4>
	<p> {{ post.body }} </p>
	<p> {{ tags }} </p>
	<h5> {{ post.number_of_likes }} </h5>


</div> <!-- /container -->
{% endblock %}
