{% extends "base.html" %}

{% block title %}
Post
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

<h1> Post:</h1>

	<a class="nav-link" href={{ url_for("profile", user_id=post.user_id) }}><h3>{{ post.username }}</h3></a>
	<h4> {{ post.header }} </h4>
	<p> {{ post.body }} </p>
	<p> {{ tags }} </p>
	<h5> Likes: {{ post.number_of_likes }} </h5>
	<h5> Comments: {{ post.number_of_comments }} </h5>
	<form class="form-signin" method = "POST" action = {{ url_for("post", post_id=post.id) }}>
        <h2 class="form-signin-heading">Write a comment</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.body) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Write</button>
     </form>
	{% for comment in post_comments %}
		<a class="nav-link" href={{ url_for("profile", user_id=comment.user_id) }}><h3>{{ comment.username }}</h3></a>

		{% if comment.username == username %}
			<form class="form-delete-comment" method="POST" action={{ url_for("delete_comment", comment_id=comment.id) }}>
				<button class="btn btn-danger glyphicon glyphicon-remove" type="submit"></button>
			</form>
		{% endif %}
		<p> {{ comment.body }} </p>
	{% endfor %}



</div> <!-- /container -->
{% endblock %}
