{% extends "base.html" %}

{% block title %}
Posts
{% endblock %}


{% block content %}
<div class="container">

<h1> Posts:</h1>

	{% if not search %}
		{{ pagination.info }}
		{{ pagination.links }}
	{% endif %}
	{% for post in posts %}
		<a class="nav-link" href={{ url_for("profile", user_id=post.user_id) }}><h3>{{ post.username }}</h3></a>
		<a class="nav-link" href={{ url_for("post", post_id=post.id) }}><h3>{{ post.header }}</h3></a>
		<p>Created on: {{ format_datetime(post.date_created) }}</p>
		<p> {{ post.body }} </p>
		<form action = "{{url_for('like', post_id=post.id)}}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Like</button>
		</form>
		<h5> {{ post.number_of_likes }} </h5>
	{% endfor %}
	{% if not search %}
		{{ pagination.links }}
	{% endif %}

</div> <!-- /container -->
{% endblock %}
