{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">

<h1> {{username}} </h1>
<h2> {{email}} </h2>

{% if self_profile %}
	<form class="form-change_password" method = "POST" action = "/profile">
		<h2 class="form-change_password-heading">Update password</h2>
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.old_password) }}
		{{ wtf.form_field(form.new_password) }}
		{{ wtf.form_field(form.confirm_password) }}
		{% for msg in get_flashed_messages() %}
			{% if password_changed %}
				<div class="alert alert-success">
			{% else %}
				<div class="alert alert-danger">
			{% endif %}
			{{ msg }}
			</div>
		{% endfor %}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Update password</button>
	</form>
{% endif %}

</div> <!-- /container -->
{% endblock %}
